{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .table-wrapper-scroll-y {
            display: block;
            max-height: 600px;
            overflow-y: auto;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }
    </style>
{% endblock %}
{% block body %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}
        <div class="container">

            {#<div class="row">#}

                {#<div class="col-sm" >#}
                    {#<label for="basic-url">Получить скриншот</label>#}
                    {#<form class="input-group mb-3" action="/view_get_screen">#}
                        {#<div class="input-group-prepend">#}
                            {#<span class="input-group-text" id="basic-addon3">URL market.yandex.ru</span>#}
                        {#</div>#}
                        {#<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="url">#}
                        {#<div class="input-group-append" id="button-addon4">#}
                            {#<button class="btn btn-outline-secondary" type="submit">Сделать скрин</button>#}
                        {#</div>#}
                    {#</form>#}

                {#</div>#}
            {#</div>#}
            <div class="row">
                <div class="col-sm">
                    <h2>Статистика</h2>
                    <h4>Колличество прокси <span class="badge badge-secondary">{{ proxys|length }}</span></h4>
                    <h4>Колличество задач в работе <span class="badge badge-secondary">{{ queue_stats.in_progress }}</span></h4>
                    <h4>Колличество завершенных задач <span class="badge badge-secondary">{{ queue_stats.pass }}</span></h4>
                </div>
                <div class="col-sm">
                    <h2>
                        Прокси
                    </h2>
                    <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading">Внимание!</h4>
                        Прокси добавляются каждый с новой строки в формате: user:pass@host:port или host:port
                    </div>
                    <div class="form-group">
                        {{ form_start(form) }}
                        {{ form_widget(form.proxyString, { 'attr':{'class':'form-control'}}) }}
                        <div class="input-group mb-3">
                            <div class="form-check">
                                {{ form_widget(form.isSocks5, { 'attr':{'class':'form-check-input'}}) }}
                                <label class="form-check-label" for="exampleCheck1">Socks5 прокси (отметить если вы
                                    добавляйте прокти типа Socks5)</label>
                            </div>
                        </div>
                        <button class="btn btn-primary">Добавить</button>
                    </div>
                    {{ form_end(form) }}

                    {#stats#}
                    <div class="table-wrapper-scroll-y">

                    <table class="table table-sm table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Дата добавления</th>
                            <th scope="col">Прокси</th>
                            <th scope="col">socks5</th>
                            <th scope="col">Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for proxy in proxys %}
                            <tr>
                                <th>{{ proxy.id }}</th>
                                <td>{% if proxy.dataCreate %}{{ proxy.dataCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{{ proxy.proxyString }}</td>
                                <td>
                                    {%  if proxy.isSocks5  %}
                                        <span class="badge badge-pill badge-info">Yes</span>
                                    {% else %}
                                        <span class="badge badge-pill badge-light">No</span>

                                    {% endif %}
                                </td>
                                <td>
                                        {% if proxy.status  == "FREE"%}
                                            <span class="badge badge-pill badge-success">FREE</span>
                                        {% elseif proxy.status  == "BAN" %}
                                            <span class="badge badge-pill badge-danger">BAN</span>
                                        {% elseif proxy.status == "IS_NOT_ALIVE"  %}
                                            <span class="badge badge-pill badge-danger">NOT WORK</span>
                                        {% else %}
                                            <span class="badge badge-pill badge-danger">{{ proxy.status }}</span>
                                        {% endif %}
                                    </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
