{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .table-wrapper-scroll-y {
            display: block;
            max-height: 600px;
            overflow-y: auto;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }
    </style>
{% endblock %}
{% block body %}
    {#<div class="alert alert-info">#}
        {#<h4 class="alert-heading">JSON результат</h4>#}
        {#<p>{{ data|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}</p>#}
    {#</div>#}
    {% if data.image is defined %}
        <img src="{{ data.image }}" class="img-fluid" alt="Responsive image">
    {% endif %}


{% endblock %}
