{% extends "@FOSUser/layout.html.twig" %}
{% block fos_user_content %}

<div class="wrapper">
    {% trans_default_domain 'FOSUserBundle' %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <form  class="form-signin" action="{{ path("fos_user_security_check") }}" method="post" class="ui form">
        {% if csrf_token %}
            <input class="form-control" type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}
        <div class="form-label-group">
            <label>Логин</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required"
                   autocomplete="username"/>
        </div>
        <div class="form-label-group">
            <label>Пароль</label>
            <input class="form-control" type="password" id="password" name="_password" required="required" autocomplete="current-password"/>
        </div>
        <label class="checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>Запомнить меня
        </label>

        <input class="ui button" type="submit" id="_submit" name="_submit" value="Войти"/>
    </form>

</div>
{% endblock fos_user_content %}

