{% extends 'base_admin.html.twig' %}
{% block body %}

        <div class="ui container">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

{% endblock %}