<h1>Регистрация</h1>
<div class="ui form">

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_errors(form) }}

    <div class="field">
        {{ form_row(form.email) }}
    </div>
    <div class="field">
        {{ form_row(form.username) }}
    </div>

    <div class="field">
        {{ form_widget(form.plainPassword,{'label':'asd'}) }}
    </div>
    <button type="submit" class="ui button"> Регистрация</button>
    {{ form_end(form) }}
</div>
