{#{% extends 'base_admin.html.twig' %}#}
{% extends "@FOSUser/layout.html.twig" %}


{% block fos_user_content %}
<div class="ui form">
    <h4 class="ui dividing header">Редактирование настроек</h4>
    <div class="field">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_row(form.current_password ) }}
    {{ form_row(form.plainPassword ) }}
    {{ form_row(form._token ) }}

    <div>
        <input class=" ui button" type="submit" value="Изменить пароль" />
    </div>
    </div>

    {{ form_end(form) }}
</div>
{% endblock fos_user_content %}
