{% extends 'base.html.twig' %}

{% block body %}
    <h1>Proxies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datacreate</th>
                <th>Proxystring</th>
                <th>Issocks5</th>
                <th>Lasttimeconnections</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proxy in proxies %}
            <tr>
                <td><a href="{{ path('proxy_show', { 'id': proxy.id }) }}">{{ proxy.id }}</a></td>
                <td>{% if proxy.dataCreate %}{{ proxy.dataCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ proxy.proxyString }}</td>
                <td>{% if proxy.isSocks5 %}Yes{% else %}No{% endif %}</td>
                <td>{% if proxy.lastTimeConnections %}{{ proxy.lastTimeConnections|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ proxy.status }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('proxy_show', { 'id': proxy.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('proxy_edit', { 'id': proxy.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('proxy_new') }}">Create a new proxy</a>
        </li>
    </ul>
{% endblock %}
