{% extends 'base.html.twig' %}

{% block body %}
    <h1>Proxy</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proxy.id }}</td>
            </tr>
            <tr>
                <th>Datacreate</th>
                <td>{% if proxy.dataCreate %}{{ proxy.dataCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Proxystring</th>
                <td>{{ proxy.proxyString }}</td>
            </tr>
            <tr>
                <th>Issocks5</th>
                <td>{% if proxy.isSocks5 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Lasttimeconnections</th>
                <td>{% if proxy.lastTimeConnections %}{{ proxy.lastTimeConnections|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ proxy.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('proxy_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('proxy_edit', { 'id': proxy.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
